p{
	padding-right: 10px;
	padding-left: 10px;
	
	font-size: 24px;
}

input{
	padding-bottom: 10px;
	padding-left: 10px;
	
	margin-top: 14px;
	margin-bottom: 14px:
	margin-right: 14px;
	
	font-size: 20px;
}

.report{
	padding-bottom: 20px;
	padding-left: 100px;
	
	font-size: 20px;
}
